/*STYLESHEET: For all pages in project*/
body {
background-color: aliceblue;
}

/*FEATURE 1: NAVIGATION STYLE*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*Displays navigation horizontally*/
li {
    display: inline;
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

/*FEATURE 2. BANNER STYLE*/